extends layout

block content
    h1 Hello!
    h2 his name is #{me.Name} he is #{me.Age}, and he lives in #{me.HomeCity}, Texas.

    //'His name is '+me.Name+', he is '+me.Age+' years old and lives in '+me.HomeCity+', Texas.'